.headingCube{
    display: flex;
    top: 10%;
    width: 100vw;
    flex-direction: column;
    position: absolute;
  }
  
  .slider{
    display: flex;
    justify-content: center;
    width: 200px;
  }
  
  .edit{
    display: flex;
    margin: 15px;
    justify-content: center;
  }
  
  .editionModal{
    width: 25%;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }
  
  .buttons{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
  
    .buttonsRow{
      display: flex;
    }
  
    .positionButton{
      width: 50px;
      height: 50px;
      background-color: lightgrey;
      margin: 2px;
    }
  }